@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #c8f3fc;
}
.containerr {
    max-width: 100vw !important;
    padding-top: 50px;
    display: flex;
}
.left-content {
    max-width: 60%;
display: flex;
flex-flow: row wrap;
    
}
.ecard {
    max-width: 31.5%;
    min-width: 31.5%;
    height: 90px;
    margin: .3rem;
    background-color: #9eb2f9;
    border-radius: 1.5rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    color: #b74555;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}
.right-content {
    max-width: 39%;
    min-width: 39%;
    text-align: center;
    color: black;
    position: fixed;
    top: 70px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-content img {
    margin: 1.5rem;
    height: 160px;
  }
.right-content h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.types {
    width: 70%;
    padding:0 0.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.types .group {
    color: yellow;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}

.heading {
    background-color: #5c0914;
    color: white;
    padding: 0.5rem;
    font-size: 17px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat {
    margin-top: 1rem;
}
.btn-group {
    display: flex;
}
.btn-group button {
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
}

/* styling the details of poke */
.poke-details{
    /* max-width: 100%; */
    /* background: red; */
}
